$theme-color: #74a0ed;
$theme-light: lighten ($theme-color, 25%);
$theme-dark: darken ($theme-color, 25%);

@mixin reset {
    margin: 10px;
    padding: 10px;
}

@mixin display ($type) {
    display: $type;
}

@mixin flex ($direction) {
    @include display (flex);
    flex-direction: $direction;
}

header {
    background-color: $theme-light;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    .logo {

        max-width: 60px;
    }
    .h1 {
        margin: 0;
        padding: 5px;
    }
}

#task-form {
    @include flex (row);
    input{
        flex:1;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid $theme-color;
        background-color: white;
    }
    input:focus {
        background-color: yellow;
        outline:none;
    }
    button {
        max-width: 100px;
        padding: 5px;
    }
}
body{
    @include reset;
    background-color: $theme-color;
}
footer {
    background-color: $theme-dark;
}