doctype html
html
    head
        title To do List
        link(href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous")
        link(href="fonts/font-awsome/font-awsome.min.css" rel="stylesheet")
        link(href='css/styles.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    body
        .app
            header
                img.logo(src='images/logo.png')
                h1
                    p ToDo
                    p App
            form#task-form
                input#task-input(type='text', placeholder='add a task', required)
                button#task-add(type='submit') Add
            main
            ul#task-list
                //- li Buy watermelons
                //- li Finish assignments
                //- li Get tomatoes
            footer
                p Made by Cliverson 2018
    script(src='js/main.js')
    